<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSheets" value="1AdCREzt0sBqlICp-hooH0wNU9YT9MaFtZ8CGOviDT6o"/>
    <add key="CorrectScore" value="5" />
    <add key="GetMatchesEndpoint" value="https://match.uefa.com/v2/matches?matchId="/>
    <add key="GetEventsEndpoint" value="https://match.uefa.com/v2/matches/{0}/events?filter=LINEUP&amp;offset=0&amp;limit=100"/>
    <add key="GetEventsEndpointEnd" value="/events?filter=LINEUP&amp;offset=0&amp;limit=100"/>
    <add key="GoogleSheetsEmailAddress" value="sheets@fluid-isotope-311615.iam.gserviceaccount.com"/>
    <add key="SheetsOwnerEmailAddress" value="sancho0510@gmail.com"/>
  </appSettings>
  
</configuration>